<div class="menu">
	<div class="menu-item hardware" tabindex="0">
		<h1>硬件安全<img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item">拨打电话</li>
		</ul>
	</div>
	<div class="menu-item os" tabindex="0">
		<h1>操作系统安全 <img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item">通信类功能</li>
			<li class="submenu-item">本地敏感功能</li>
		</ul>
	</div>
	<div class="menu-item interface" tabindex="0">
		<h1>外围接口安全 <img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item">蓝牙接口</li>
			<li class="submenu-item">NFC接口</li>
		</ul>
	</div>
	<div class="menu-item app" tabindex="0">
		<h1>应用层安全 <img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item">应用自启动能力</li>
		</ul>
	</div>
	<div class="menu-item data" tabindex="0">
		<h1>用户数据安全 <img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item">文件类用户数据授权</li>
		</ul>
	</div>
</div>