<div class="menu" id="menu">
	<div class="menu-item hardware" tabindex="0" data-down=true>
		<h1><a href="">硬件安全</a><img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item"><a href="">拨打电话</a></li>
		</ul>
	</div>
	<div class="menu-item os" tabindex="0">
		<h1><a href="">操作系统安全</a> <img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item"><a href="">通信类功能</a></li>
			<li class="submenu-item"><a href="">本地敏感功能</a></li>
		</ul>
	</div>
	<div class="menu-item interface" tabindex="0">
		<h1><a href="">外围接口安全</a> <img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item"><a href="">蓝牙接口</a></li>
			<li class="submenu-item"><a href="">NFC接口</a></li>
		</ul>
	</div>
	<div class="menu-item app" tabindex="0">
		<h1><a href="">应用层安全</a> <img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item"><a href="">应用自启动能力</a></li>
		</ul>
	</div>
	<div class="menu-item data" tabindex="0">
		<h1><a href="">用户数据安全</a> <img src="/images/down_arrow2.png" class="arrow"></h1>
		<ul class="submenu">
			<li class="submenu-item"><a href="">文件类用户数据授权</a></li>
		</ul>
	</div>
</div>