<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/telInstitude.css">
	<script type="text/javascript" src="/javascripts/lib/jquery-1.11.3.min.js"></script>
</head>
<body>
	<% include header%>
	<main class="main-body">
		<aside class="left">
			<% include sidebar%>
		</aside>
		<section class="right">

		</section>
	</main>
	<% include footer%>


</body>
<script type="text/javascript" src="/javascripts/telInstitude.js"></script>
</html>

