@import "../sloth.scss";
@charset "utf-8";
$border-color:  #e4e4e4;
$current-color:#ff6000;
$text-back:#454545;

.signup-content {
    width: 1190px;
    margin: 56px auto 100px;
}

.main-wrap {
    border: 1px solid $border-color;
    border-top: none;
}

.submit-item {
    margin: 17px 0 0 122px;

    input {
        width: 301px;
        height: 40px;
        line-height: 40px;
    }
}

.gray-btn.sms-verification-btn {
    border:none;
}

.login-tab {
    border-bottom: 1px solid $border-color;

    li {
        position: relative;
        float: left;
        margin-right: 10px;
        width: 279px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        background: #f6f6f6;
        border: 1px solid #e4e4e4;
        border-bottom: none;

        .iconfont {
            font-size: 20px;
        }

        a {
            display: block;
            padding: 0 60px;
            color: #9c9c9c;
        }

        &.current {
            background: #ffffff;
            color: $current-color;
            box-shadow: -2px 0 2px #e4e4e4;

            a {
                position: absolute;
                height: 61px;
                background: #fff;
                color: $current-color;
                left: 0;
                right: 0;
                cursor: default;
            }

            &:first-child {
                box-shadow: 2px 0 2px #e4e4e4;
            }
        }
    }
}

.require-form {
    float: left;
    width: 650px;
    padding: 36px 0 60px;

    .form-item {
        margin-bottom: 16px;
        label{
          width: 130px;
        }
    }

    .form-title {
        margin: 0 0 24px 30px;
        line-height: 22px;

        em {
            font-weight: bold;
        }
    }
}

.register-tip {
    float: left;
    max-width: 500px;
    padding: 0 0 0 22px;
    margin: 77px 0 0;
    height: 306px;
    border-left: 1px solid $border-color;
    color: $text-back;

    h2 {
        line-height: 30px;
        font-size: 14px;
    }

    .has-account {
        padding: 0 0 42px;
        border-bottom: 1px solid $border-color;

        p {
            margin: 14px 0 0;
            line-height: 16px;
            font-size: 12px;
        }

        a {
            margin: 16px 0 0 0;
            width: 51px;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
        }
    }

    .register-service {
        padding: 33px 0 0;

        p {
            margin: 12px 0 0;
            line-height: 20px;
            font-size: 12px;

            span {
                float: left;

                em {
                    font-size: 16px;
                    font-weight: bold;
                    color: $current-color;
                }
            }

            .qq-service-btn {
                float: left;
                width: 73px;
                margin: 0 0 0 70px;
                line-height: 20px;
                background-position: 0 0;
            }
        }
    }
}
